{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% if certificate %}
    <h2>Certificate Found</h2>
    <p>Student Name: {{ student.name }}</p>
    <p>Student ID: {{ student.student_id }}</p>
    <p>Certificate Number: {{ certificate.certificate_no }}</p>
    <p>Course Name: {{ certificate.course_name }}</p>
    {% if transcript %}
        <p><a href="{% url 'download_file' transcript.transcript_file.name %}">Download Transcript</a></p>
    {% endif %}
    {% if certificate.certificate_file %}
        <p><a href="{% url 'download_file' certificate.certificate_file.name %}">Download Certificate</a></p>
    {% endif %}
{% elif error %}
    <p>{{ error }}</p>
{% endif %}
{% endblock %}
